
/* google fonst */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Root Variables */

:root {

    /* colors */

    --primary-color-dark: #2C3930;
    --primary-color-light: #F2F2F2;
    --secondary-color-dark: #B6B09F;
    --secondary-color-light: #EAE4D5;
    --neutral-color-10: #DDDDDD;
    --neutral-color-20: #EEEEEE;
    --dark-color-10: #31363F;
}

/* general styling */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    width: 100dvw;
    font-family: "Nunito Sans", sans-serif;
}

.main {
    height: 100%;
    width: 100%;
    background-color: var(--primary-color-dark);
    position: relative;
}

.wrapper {
    width: 60vmin;
    padding: 22px 28px;
    position: absolute;
    background-color: var(--primary-color-light);
    border: none;
    border-radius: 18px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.wrapper h2 {
    font-weight: 28px;
    color: var(--dark-color-10);
}

.input-wrapper {
    width: 100%;
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.input-wrapper input {
    width: 100%;
    padding: 8px 16px;
    background-color: var(--primary-color-light);
    border: 1px solid var(--secondary-color-dark);
    border-radius: 6px;
    outline: none;
    font-size: 17px;
    color: var(--dark-color-10);
    font-weight: 600;
}

.input-wrapper input::placeholder {
    color: var(--secondary-color-dark);
    font-weight: 500;
    font-size: 17px;
}

.input-wrapper button {
    padding: 8px 12px;
    background-color: var(--secondary-color-dark);
    border: none;
    outline: none;
    color: var(--primary-color-light);
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.input-wrapper button:hover {
    background-color: var(--primary-color-dark);
}

.unit-wrapper {
    width: 100%;
    margin-top: 18px;
    display: grid;
    place-content: center;
    grid-template-columns: 30% 40% 30%;
}

.unit-wrapper select {
    height: 34px;
    padding-left: 12px;
    font-size: 16px;
    color: var(--primary-color-dark);
    outline: none;
    border: 1px solid var(--secondary-color-dark);
    border-radius: 6px;
    cursor: pointer;
}

.unit-wrapper select option {
    font-size: 16px;
    font-weight: 500;
}




.unit-wrapper .icon-box {
    font-size: 18px;
    color: var(--primary-color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
}



.result-wrapper {
    width: 100%;
    margin-top: 24px;
    padding: 8px 16px;
    border-top: 2px solid var(--secondary-color-light);
    text-align: center;
}

.result-wrapper p {
    font-size: 17px;
    font-weight: 500;
    color: var(--dark-color-10);
}






