
/* googlr fonts */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* root variables */

:root {
    --body-BG-color: #007BFF;
    --wrapper-BG-color: #f0f0f0;
    --input-BG-color: #f0f0f0;
    --input-border-color: #b3b3b3;
    --input-focus-border-color: #007BFF;
    --title-color: #333;
    --text-color: #c0c0c0;
}

/* general styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    background-color: var(--body-BG-color);
}

.wrapper {
    width: 55vmin;
    padding: 2em 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--wrapper-BG-color);
    border-radius: 14px;
    
}

.wrapper .password-field {
    height: 50px;
    width: 100%;
    position: relative;
}

.password-field input {
    width: 100%;
    height: 100%;
    padding:  0 18px;
    outline: none;
    border: 1px solid var(--input-border-color);
    border-radius: 6px;
    font-size: 1.1rem;
    background: transparent;
    color: var(--title-color);
}

.password-field i {
    position: absolute;
    color: var(--text-color);
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.1rem;
}

.wrapper .content {
    padding-inline: 8px;
    margin: 20px 0 10px;
}

.content p {
    font-size: 1.2rem;
    color: var(--title-color);
    font-weight: 500;
    margin-bottom: 12px;
}

.content .requirement-list {
    width: 100%;
    margin-top: 16px;
}

.content .requirement-list li {
    width: 100%;
    list-style: none;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    color: var(--title-color);
}

.requirement-list i {
    font-size: 0.5rem;
    color: var(--text-color);
    width: 20px;
}

.requirement-list span {
    margin-left: 8px;
}



